{% extends 'announcement/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/announcements/list.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>Ofertas inmobiliarias en España</h1>
        <p>Analiza inmuebles y sus ofertas en el mercado español</p>
    </header>

    <section class="filters">
        <form id="filterForm">
            <div class="filter-group">
                <div class="filter-item">
                    <label for="minPrice">Precio min.</label>
                    <input type="number" id="minPrice" name="minPrice" placeholder="Min Price" value="{{ request.GET.minPrice }}">
                </div>
                <div class="filter-item">
                    <label for="maxPrice">Precio max.</label>
                    <input type="number" id="maxPrice" name="maxPrice" placeholder="Max Price" value="{{ request.GET.maxPrice }}">
                </div>
                <div class="filter-item">
                    <label for="minArea">Area min. (m²)</label>
                    <input type="number" id="minArea" name="minArea" placeholder="Min Area" value="{{ request.GET.minArea}}">
                </div>
                <div class="filter-item">
                    <label for="maxArea">Area max. (m²)</label>
                    <input type="number" id="maxArea" name="maxArea" placeholder="Max Area" value="{{ request.GET.maxArea }}">
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-item">
                    <label for="publishDate">Publicado después de</label>
                    <input type="date" id="publishDate" name="publishDate">
                </div>
                <div class="filter-item">
                    <label for="minRooms">Habitaciones min.</label>
                    <input type="number" id="minRooms" name="minRooms" min="1" placeholder="Min Rooms" value="{{ request.GET.minRooms }}">
                </div>
                <div class="filter-item">
                    <label for="minBathrooms">Baños min.</label>
                    <input type="number" id="minBathrooms" name="minBathrooms" min="1" placeholder="Min Bathrooms" value="{{ request.GET.minBathrooms }}">
                </div>
                <div class="filter-item">
                    <label for="area">Provincia</label>
                    <select id="area" name="area">
                        <option value="">Todas</option>
                        <option value="downtown">Downtown</option>
                        <option value="suburb">Suburb</option>
                    </select>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-item">
                    <label for="constructionDate">Construido despues de</label>
                    <input type="date" id="constructionDate" name="constructionDate" value="{{ request.GET.constructionDate }}">
                </div>
                <div class="filter-item">
                    <label for="fullTextSearch">Contiene el texto</label>
                    <input type="text" id="fullTextSearch" name="fullTextSearch" value="{{ request.GET.fullTextSearch }}">
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-item">
                    <label for="offerType">Tipo de oferta</label>
                    <select id="offerType" name="offerType" value="{{ request.GET.offerType }}">
                        <option value="">Todos los tipos</option>
                        <option value=1>En venta</option>
                        <option value=2>En alquiler</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="search-button">Buscar</button>
        </form>
    </section>

    <main class="property-list" id="propertyList">
        {% for offer in offers_list %}
        <div class="property-card">
            <img src="{% static '/images/' %}{{offer.ref}}/{{ offer.image_urls }}" alt="{{ offer.title }}" class="property-image">
            <div class="property-details">
                <h2 class="property-title">{{ offer.title }}</h2>
                <p class="property-price">{{ offer.price }}</p>
                <div class="property-features">
                    <span class="feature"><span class="feature-icon">🚿</span> {{ offer.rooms }} baths</span>
                    <span class="feature"><span class="feature-icon">📏</span> {{ offer.constructed_m2 }} m2</span>
                </div>
                <a href="/announcement/{{ offer.announcementid }}" class="cta-button">View Details</a>
            </div>
        </div>
        {%endfor%}
    </main>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <button onclick="changePage('first')">&laquo; Primera</button>
            <button onclick="changePage('previous')">Anterior</button>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <button onclick="changePage('next')">Siguiente</button>
            <button onclick="changePage('last')">Última &raquo;</button>
        {% endif %}
    </div>
{% endblock %}


{% block scripts %}
    <script>
        document.getElementById('filterForm').addEventListener('submit', function(e) {
            e.preventDefault();

            const inputs = this.querySelectorAll('input, select');
            const url = new URL(location.origin + location.pathname);

            inputs.forEach(input => {
                if (input.value.trim() !== '') {
                    url.searchParams.append(input.name, input.value);
                }
            });

            if(url.searchParams.toString()) {
                window.location.href = url.toString();
            }
        });

        function changePage(action) {
            switch(action) {
                case 'first':
                    url = '?page=1';
                    break;
                case 'previous':
                    {% if page_obj.has_previous %}
                        url = '?page={{ page_obj.previous_page_number }}';
                    {% endif %}
                    break;
                case 'next':
                    {% if page_obj.has_next %}
                        url = '?page={{ page_obj.next_page_number }}';
                    {% endif %}
                    break;
                case 'last':
                    url = '?page={{ page_obj.paginator.num_pages }}';
                    break;
            }

            const queryParams = new URLSearchParams(window.location.search);
            queryParams.delete('page');
            const urlWithOldQueries = url + '&' + queryParams.toString();
            location.href = urlWithOldQueries;
        }
    </script>
{% endblock %}