{% extends 'announcement/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/announcements/detail.css' %}">
{% endblock %}

{% block content %}
    <header class="property-header">
        <h1>{{ announcement.title }}</h1>
        <h2 class="price">{{ announcement.price }} €</h2>
    </header>

    <section class="gallery">
        <img src="{% static '/images/' %}{{announcement.ref}}/{{announcement_images.0}}" alt="Inmueble ofertado" class="main-image" id="mainImage">
        <div class="thumbnails">
            {% for img in announcement_images %}
                <img src="{% static '/images/' %}{{announcement.ref}}/{{ img }}" class="thumbnail">
            {% endfor %}
        </div>
    </section>

    <section class="property-details">
        <div class="detail">
            <span class="detail-icon">🛏️</span>
            <span>{{ announcement.rooms }} Habitaciones</span>
        </div>
        <div class="detail">
            <span class="detail-icon">📏</span>
            <span>{{ announcement.constructed_m2 }} m2</span>
        </div>
    </section>

    <section class="description">
        <h2>Descripcion</h2>
        <p>{{ announcement.description }}</p>
    </section>

    <section class="agent-info">
        <div>
            <h3>{{ announcement.owner }}</h3>
            <h3>{{ announcement.location }}</h3>
        </div>
    </section>

    <canvas id="myChart" width="800" height="400"></canvas>

    <a href="{{ announcement.url }}" class="cta-button">Ver la oferta original</a>

    <section class="similar-offers">
        <h2>Similar Offers</h2>
        <div class="offers-slider" id="offersSlider">
            {% for similar in similar_offers %}
            <div class="offer-card" onclick="location.href='{{ similar.announcementid }}'">
                <img src="{% static '/images/' %}{{similar.ref}}/{{ similar.image_urls }}" alt="{{ similar.title }}" class="offer-image">
                <div class="offer-details">
                    <h3 class="offer-title">{{ similar.title }}</h3>
                    <p class="offer-price">{{ similar.title }} €</p>
                    <p>{{ similar.rooms }} rooms, {{ similar.constructed_m2 }} m2</p>
                    <a href="{{ similar.url }}" class="cta-button">Ver la oferta original</a>
                </div>
            </div>
            {% endfor %}
            {% if not similar_offers %}
                <p>No se han encontrado ofertas similares.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels : [{% for announcement in announcements %}"{{ announcement.timestamp }}",{% endfor %}],
                datasets: [{
                    label: "Precio del anuncio",
                    data : [{% for announcement in announcements %}{{ announcement.price }},{% endfor %}],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <script>
        const mainImage = document.getElementById('mainImage');
        const thumbnails = document.querySelectorAll('.thumbnail');

        thumbnails.forEach(thumbnail => {
            thumbnail.addEventListener('click', function() {
                mainImage.src = this.src.replace('120', '400');
                mainImage.alt = this.alt;
            });
        });
    </script>
{% endblock %}