<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Announcements{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/announcements/base.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
        </div>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html></div></html>